body {
  font-family: sans-serif;
  background-color: var(--cor-fundo-escuro);
  color: var(--cor-branca);
  line-height: 1.6;
}

/* Header e Navbar */
.header {
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menu li a {
  color: var(--cor-branca);
  text-decoration: none;
  padding: 0.5rem;
}

.menu li a:hover {
  color: var(--cor-secundaria);
}

/* Conteúdo */
main {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

section {
  margin-bottom: 2rem;
}

section h1,
section h2 {
  color: var(--cor-primaria);
  margin-bottom: 1rem;
}

/* Formulário */
.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  padding: 2rem;
  background: var(--cor-fundo-cinza-claro);
  border-radius: 8px;
}

.contactForm input,
.contactForm textarea {
  padding: 0.75rem;
  border: 1px solid var(--cor-primaria);
  border-radius: 4px;
  background: var(--cor-fundo-escuro);
  color: var(--cor-branca);
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
  color: #aaa;
}

.contactForm button {
  padding: 0.75rem;
  background: var(--cor-primaria);
  color: var(--cor-branca);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contactForm button:hover {
  background: var(--cor-secundaria);
}

/* Rodapé */
footer {
   position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;  /* garante 100% da largura */
  background: var(--cor-primaria);
  color: var(--cor-branca);
  padding: 1rem; /* fixo, ajusta conforme desejado */
  text-align: center;
}



.outer-shadow{
    box-shadow: 3px -3px #222237, -3px -3px 3px #454545;
}

.redes-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
    text-align: center;
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.redes-sociais a:hover{
    color: var(--cor-secundaria);
}
/*alinhamento vertical*/
.redes-sociais a i{
    line-height: 40px;
}
