:root{
    --cor-primaria: #43bd8e;
    --cor-secundaria: #FD6c22;
    --cor-branca: #FFFF;
    --cor-fundo-escuro: #040203;
    --cor-fundo-cinza-escuro: #282828;
    --cor-fundo-cinza-claro: #353535;
}